<!DOCTYPE html>
<html lang="ko">
	<head prefix="og: http://ogp.me/ns#">
		<title>if-Strategy</title>

		<meta charset="utf-8">
		<meta name="description" content="if-Team 2016 추석맞이 전략 윷놀이">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta property="og:title" content="if-Strategy">
		<meta property="og:site_name" content="if-Strategy">
		<meta property="og:type" content="game">
		<meta property="og:url" content="https://syut.iftm.xyz/">
		<meta property="og:image" content="">

	</head>
	<body>
	</body>
</html>
