<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>if-Strategy - 로그인</title>
		<!-- jQuery -->
		<script src="/jquery/dist/jquery.min.js"></script>

		<!-- semantic-ui -->
		<link href="/semantic/dist/semantic.min.css" rel="stylesheet">
		<script src="/semantic/dist/semantic.min.js"></script>

		<!-- mdi -->
		<link href="/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet">

		<!--etc.. -->
		<link href="resources/css/login.css" rel="stylesheet">
		<script>
			$(document)
				.ready(function() {
					$('.ui.form')
						.form({
							fields: {
								email: {
									identifier: 'email',
									rules: [{
										type: 'empty',
										prompt: '이메일을 입력해주세요'
									}, {
										type: 'email',
										prompt: '유효한 이메일을 입력해주세요'
									}]
								},
								password: {
									identifier: 'password',
									rules: [{
										type: 'empty',
										prompt: '비밀번호를 입력해주세요'
									}, {
										type: 'length[6]',
										prompt: '비밀번호는 6자를 넘어야 합니다.'
									}]
								}
							}
						});
				});
		</script>
	</head>

	<body>
		<div class="ui grid page pusher">
			<div class="tablet computer only row">
				<nav class="ui fixed menu navbar" role="navigation">
					<a class="brand blue item">
						<img src="/resources/img/logo.svg" alt="logo">
						<span style="margin-left:1em"><h5>if-Strategy</h5></span>
					</a>
				</nav>
			</div>

			<div class="mobile only narrow row">
				<nav class="ui fixed menu navbar">
					<a class="brand blue item">
						<img src="/resources/img/logo.svg" alt="logo">
						<span style="margin-left:1em"><h5>if-Strategy</h5></span>
					</a>
				</nav>
			</div>

			<div class="ui center middle aligned grid account-layout">
				<div class="segment account-segment" style="width: 100%">
					<div class="ui two column very relaxed stackable grid centered container account-container">
						<div class="column">
							<form class="ui large form" method="post">
								<div class="ui stacked segment account middle aligned">
									<div class="account-contents">
										<h1 class="ui teal image header" style="float:left; font-size:3em;">
											<div class="content">
												SPECTATE<span class="unbold">GAME</span>
											</div>
										</h1>
										<div class="field">
											<div class="ui left icon input">
												<i class="mdi mdi-account icon" style="font-size:1em;"></i>
												<input type="text" name="name" placeholder="ID">
											</div>
										</div>
										<div class="ui fluid large teal submit button">관전</div>
									</div>
								</div>
							</form>
						</div>

						<div class="ui vertical divider">
							or
						</div>

						<div class="column">
							<form class="ui large form" method="post">
								<div class="ui stacked segment account">
									<div class="account-contents">
										<h1 class="ui teal image header" style="float:left; font-size:4em;">
											<div class="content">
												PLAY<span class="unbold">GAME</span>
											</div>
										</h1>

										<div class="field">
											<div class="ui left icon input">
												<i class="mdi mdi-account icon" style="font-size:1em"></i>
												<input type="text" name="name" placeholder="ID">
											</div>
										</div>

										<div class="field">
											<div class="ui left icon input">
												<i class="mdi mdi-key icon" style="font-size:1em"></i>
												<input type="password" name="pw" placeholder="비밀번호">
											</div>
										</div>

										<div class="ui fluid large teal submit button">게임 플레이</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
